body {
  width: 80%;
  margin: auto;
}

header {
  border: solid;
  margin: auto;
}

header div {
  display: inline-block;
  height: 100%;
  width: 40%;
}

header .images {
  width: 50%;
  margin-right: 0;
  text-align: right;
}

header h2 {
  font-size: 18px;
}

header p {
  font-size: 10px;
}
